*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: red;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    background: rgba(32, 33, 36, 1);
    width: 400px;
    height: 10vh;
    display:flex;
}

main{
    background:rgb(60,64,67);
    width: 400px;
    height:80vh;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-top:70px;
}

main::-webkit-scrollbar {
    display: none;
  }

main .dinheiro{
    background:rgb(80,84,87);
    width: 90%;
    min-height:80px;
    margin:3%;
}

main .ferramentas{
    background:rgb(80,84,87);
    width: 90%;
    min-height:120px;
    margin:3%;
}

main .banner{
    background:rgb(80,84,87);
    width: 90%;
    min-height:100px;
    margin:3%;
}

main .loja{
    background:rgb(80,84,87);
    width: 90%;
    min-height:200px;
    margin:3%;
}

footer{
    background: rgba(32, 33, 36, 1);
    width: 400px;
    height: 10vh;
    display:flex;
}
